/*
 * (c) VoQn
 * http://gist.github.com/46093
 */

@namespace url(http://www.w3.org/1999/xhtml);


* {
  margin: 0;
  padding: 0;
}

h1 {
  background: black;
  color: white;
  font-family: monospace;
  padding: 0.5em 0 0.1em 0.75em;
}

table {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid lightgray;
}

th {
  border-bottom: 1px solid magenta;
  color: magenta;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
}

td {
  padding: 0 3em 0.5em 0;
  border-bottom: solid 1px #eeeeee;
}

td.name {
  font-weight: bold;
  font-size: 1.2em;
}

.last-updated, .back-to-top {
  text-align: right;
  margin-right: 2em;
}

