/*
 * (c) VoQn
 * http://gist.github.com/46093
 */

@namespace url(http://www.w3.org/1999/xhtml);


* {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  background: black !important;
  color: white !important;
  font-family: monospace !important;
  padding: 0.5em 0 0.1em 0.75em !important;
}

table {
  margin: 1em !important;
  padding: 0.5em !important;
  border: 1px solid lightgray !important;
}

th {
  border-bottom: 1px solid magenta !important;
  color: magenta !important;
  text-align: left !important;
  font-weight: bold !important;
  font-size: 1.5em !important;
}

td {
  padding: 0 3em 0.5em 0 !important;
  border-bottom: solid 1px #eeeeee;
}

td.name {
  font-weight: bold !important;
  font-size: 1.2em !important;
}

.last-updated {
  text-align: right !important;
}

